<p-toast position="bottom-center"></p-toast>
<div class="d-flex">
  <div class="p-2">
    <label class="label-heading">Previous Course Gallery</label>
  </div>
  <div class="ml-auto p-2">
    <p-button styleClass="p-button-text" label="UPLOAD" icon="pi pi-cloud-upload" (click)="uploader.click()" iconPos="left"></p-button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let imgsrc of imgsrcs">
      <img class="img" height="30px" width="30px" [src]="_d.bypassSecurityTrustUrl(imgsrc)">
    </div>
  </div>
</div>

<input
    hidden
    type="file"
    #uploader
    (change)="fileChange($event)"
/>
