.img {
  margin: 0.5rem;
}

.label-heading {
  font-weight: 700;
  margin-left: -10px;
}

:host ::ng-deep .ui-button {
  margin: 0;
  color: var(--secondary);
  background-color: #fff;
  border: 0px solid #617c8a;
  font-size: 14px;
  font-weight: 700;
}
